img {
    max-width: 100%;
}

.clearfix img{
    max-width: 50%;
}
@media only screen and (max-width: 767px) {
    .navbar{
      background-color: #4AAAA5;
    }
    .border-bottom {color: black;}
  }